/* Local CSS */
.mainContent {
  width: 1024px;
}

.local-container {
  width: 300px;
  height: 300px;
  margin-left: 40px;
}

.local-main-container {
  margin-left: -65px;
}

.colored-medicine-image-local {
  top: 32px;
  left: -70px;
}
