/* Local CSS */
.mainContent {
  top: 50px;
}
.category-title-local {
  font-size: 56px;
  letter-spacing: -3px;
}

.noon-ngayon-local {
  margin-bottom: 24px;
  font-size: 50px;
}

.border-local {
  width: 280px;
  height: 280px;
}

.gray-medicine-image {
  top: 16px;
  left: -96px;
}
