/* Local CSS */
.mainContent {
  left: 0;
  top: 0;
  width: 1024px;
}

.noon-image {
  top: 16px;
}

.noon-info {
  top: 60px;
}

.ngayon-image {
  top: 64px;
  left: -48px;
}

.ngayon-info {
  top: 100px;
}

.ngayon-description {
  font-size: 16px !important;
}
