/* Local CSS */
.mainContent {
  left: 0;
  top: 0;
  width: 1024px;
}
.noon-image {
  top: -8px;
}
.noon-info {
  top: 40px;
}

.ngayon-info {
  top: 48px;
}
.ngayon-description {
  font-size: 18px !important;
}
