/* Local CSS */
.mula-noon-title {
  font-size: 40px;
}

.select-category-title {
  font-size: 80px;
}

.ml-n8 {
  margin-left: -8px;
}

.ml-n16 {
  margin-left: -16px;
}

.category-image {
  margin: 0 auto;
  margin-top: 50px;
}

.category-title {
  font-size: 36px;
}
