/* Local CSS */
.mainContent {
  left: 0;
  top: 0;
  width: 1024px;
}

.noon-image {
  top: -64px;
  left: -8px;
}

.noon-info {
  top: -48px;
}

.ngayon-image {
  left: -32px;
  top: 48px;
}

.ngayon-info {
  top: 86px;
}
