/**************************************************/
/* GSK Veeva Master Template - Core CSS           */
/**************************************************/
/* File version              1.4.1               */
/* Last modified             05/05/2017           */
/* Last modified by          T.T.                 */
/**************************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #ffffff;
}
sup.gotoRef {
  display: inline-block;
  padding: 15px;
  margin: -15px;
}
#container {
  position: absolute;
  z-index: 1;
  width: 1024px;
  height: 768px;
  left: 0;
  top: 0;
  margin-left: 0;
  margin-top: 0;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0px, 0, 0);
  overflow: hidden;
}
#container::-webkit-scrollbar {
  display: none;
}
#container.load1 {
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -ms-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
  opacity: 1;
}
#container.load2 {
  opacity: 1;
}
.bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 768px;
  z-index: -1;
}
#doubleClickLeft {
  position: absolute;
  z-index: 10;
  width: 50px;
  top: 0px;
  left: 0px;
  height: 768px;
}
#doubleClickRight {
  position: absolute;
  z-index: 10;
  width: 50px;
  top: 0px;
  right: 0px;
  height: 768px;
}
#doubleClickCentre {
  position: absolute;
  z-index: 10;
  width: 924px;
  height: 768px;
  top: 0px;
  left: 72px;
}
.header {
  top: 24px;
  right: 28px;
  position: absolute;
  border: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  z-index: 10;
}
.navBottom {
  bottom: 5px;
  left: 70px;
  position: absolute;
  border: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  z-index: 99999;
}
#doubleClickCentre {
  display: none;
}
.dialogLoading {
  margin-left: 1024px;
}
/* Portrait Mode */
body.portrait #doubleClickCentre {
  display: block;
  -webkit-overflow-scrolling: touch;
}
body.portrait .bg {
  width: 1024px;
  height: 768px;
  overflow-y: initial;
  background-color: #000;
}
body.portrait .bg img {
  width: auto;
  height: 768px;
  display: block;
  margin: 0 auto;
}
body.portraitActive #container {
  z-index: 10;
}
body.portraitActive .bg img {
  width: 1024px;
  height: auto;
  overflow-y: scroll;
}

/* iScroll */
.scrollable {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 20;
}
.scrollableInner {
  position: absolute;
  z-index: 20;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
/* Content loader iframe */
.contentLoader {
  width: 0px;
  height: 0px;
  visibility: hidden;
}
