/* Put your CSS code in the left column, instead of example, to put or remove unnecessary prefixes. */

/**************************************************/

/* GSK Veeva Master Template - Presentation CSS   */

/**************************************************/

/* File version              1.4.1               */

/* Last modified             05/05/2017           */

/* Last modified by          T.T.                 */

/**************************************************/

/* Replace the fonts with the fonts used for presentation  */
.bg {
  background: #def0f5 !important;
}
@font-face {
  font-family: "ReklameScript";
  src: url("../../shared/media/fonts/ReklameScript-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BlackJack";
  src: url("../../shared/media/fonts/BlackJack-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../shared/media/fonts/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../shared/media/fonts/Roboto-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("../../shared/media/fonts/Roboto-Condensed.ttf");
  font-stretch: condensed;
}

/*-------------------------------------------------------------------------------*/
.category-main-border {
  width: 370px !important;
  height: 370px !important;
}
.category-selections {
  width: 500px;
  padding-left: 100px;
}
.category-selections-title {
  font-size: 45px;
}

.mb-16 {
  margin-bottom: 16px;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-24 {
  margin-bottom: 24px !important;
}
.mb-32 {
  margin-bottom: 32px;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
* {
  font-family: "Roboto";
}

.bg {
  overflow: hidden;
}

img {
  display: block;
}
.margin-left-n16 {
  margin-left: -16px;
}

.margin-bottom-36 {
  margin-bottom: 36px;
}

margi .mainLogo {
  width: 75px;
  height: 67px;
  background: url("../../shared/media/images/logo.png");
  background-repeat: no-repeat;
  background-size: 75px 67px;
}

.brandLogo {
  width: 281px;
  height: 62px;
  background: url("../../shared/media/images/footerLogo.png");
  background-repeat: no-repeat;
}

.arial-rounded {
  font-family: "Arial Rounded MT Bold";
}

/* GSK Salbutamol */

.top--navigation {
  display: -webkit-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  top: 64px;
  left: 24px;
}

.image--fit {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.footer--logo {
  bottom: 0;
  right: -1px;
  position: absolute;
  z-index: 2;
}

.grass {
  bottom: 0;
  position: absolute;
  z-index: 2;
}

.fence {
  bottom: 0;
  position: absolute;
}

.health--care {
  top: 40px;
  left: 40px;
  font-size: 10px;
  z-index: 2;
}

.salbutamol--ventolin {
  padding: 16px;
  text-align: center;
}

.salbutamol--ventolin > p:nth-child(1) {
  border: 2px solid black;
  width: 220px;
  margin: auto;
  font-size: 40px;
  padding: 0px 4px;
  margin-bottom: 0;
}

.salbutamol--ventolin > p:nth-child(2) {
  font-size: 24px;
  font-weight: bold;
}

.slogan {
  text-align: center;
  font-size: 23px;
}

.slogan > .agad--agad {
  margin-right: -10px;
  font-size: 34px;
  font-family: Courier;
  font-weight: bolder;
}

.slogan > .forty--eight {
  color: #d58a40;
  font-family: "BlackJack";
  font-size: 48px;
}

.slogan > .mula--for {
  vertical-align: 15px;
}

.slogan.large {
  font-size: 34px;
}

.slogan.large > .agad--agad {
  font-size: 38px;
}

.slogan.large > .forty--eight {
  font-size: 70px;
}

.slogan.bottom {
  bottom: 0px;
  font-size: 18px;
  height: 120px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    to(rgba(255, 255, 255, 0))
  );
  background: -webkit-linear-gradient(top, #fff, rgba(255, 255, 255, 0));
  background: -o-linear-gradient(top, #fff, rgba(255, 255, 255, 0));
  background: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0));
  width: 100%;
}

.slogan.bottom > .agad--agad {
  font-size: 26px;
  font-weight: bold;
}

.radial {
  background: -webkit-radial-gradient(#fff 40%, rgba(255, 255, 255, 0) 80%);
  background: -o-radial-gradient(#fff 40%, rgba(255, 255, 255, 0) 80%);
  background: radial-gradient(#fff 40%, rgba(255, 255, 255, 0) 80%);
  width: 530px;
  height: 530px;
  top: 100px;
  left: 230px;
  z-index: 2;
}

.clouds {
  position: absolute;
  top: -24px;
  left: 0;
  z-index: 1;
  opacity: 0.95;
}

@-webkit-keyframes moveCloud1 {
  from {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
  }
  to {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
  }
}

@keyframes moveCloud1 {
  from {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
  }
  to {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
  }
}

@-webkit-keyframes moveCloud2 {
  from {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
  }
  to {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
  }
}

@keyframes moveCloud2 {
  from {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
  }
  to {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
  }
}

@-webkit-keyframes moveCloud3 {
  from {
    -webkit-transform: translateX(400px);
    transform: translateX(400px);
  }
  to {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
  }
}

@keyframes moveCloud3 {
  from {
    -webkit-transform: translateX(400px);
    transform: translateX(400px);
  }
  to {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
  }
}

@-webkit-keyframes rotateAnimate {
  from {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes rotateAnimate {
  from {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

.cloud1 {
  -webkit-animation: moveCloud1 60s alternate infinite;
  animation: moveCloud1 60s alternate infinite;
}

.cloud2 {
  -webkit-animation: moveCloud2 70s alternate-reverse infinite;
  animation: moveCloud2 70s alternate-reverse infinite;
}

.cloud3 {
  -webkit-animation: moveCloud3 90s alternate infinite;
  animation: moveCloud3 90s alternate infinite;
}

.rays {
  position: absolute;
  top: -300px;
  left: -250px;
  z-index: -5;
  -webkit-animation: rotateAnimate 90s infinite;
  animation: rotateAnimate 90s infinite;
}

.text--center {
  text-align: center;
}

.reklame--script {
  font-family: "ReklameScript";
}

.zincCode {
  bottom: 0;
  left: 0;
  position: absolute;
  font-size: 12px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(20%, #fff),
    to(rgba(255, 255, 255, 0))
  );
  background: -webkit-linear-gradient(left, #fff 20%, rgba(255, 255, 255, 0));
  background: -o-linear-gradient(left, #fff 20%, rgba(255, 255, 255, 0));
  background: linear-gradient(to right, #fff 20%, rgba(255, 255, 255, 0));
  background: -webkit-linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  height: 120px;
  padding: 24px;
  border: 0;
  color: #222;
  z-index: 10;
}

.bold {
  font-weight: bold;
}

.primary--text {
  color: #262262 !important;
}

.secondary--text {
  color: #f15a24 !important;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.salbutamol-btn--features {
  width: 512px;
  margin: 20px auto;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.salbutamol-btn--features > .gsk-sal--btn {
  margin: 8px;
}

.salbutamol--feature {
  display: -webkit-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 16px;
}

.salbutamol--feature.reverse {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.salbutamol--feature > .feature {
  text-align: right;
}

.salbutamol--feature.reverse > .feature {
  text-align: left;
}

.salbutamol--feature > .feature > .title {
  font-size: 20px;
  color: #262262;
  font-weight: bold;
  padding: 0px 0px 8px 0px;
}

.salbutamol--feature > .feature > .description {
  font-size: 13px;
}

.salbutamol--feature > .image {
  margin: 0px 8px;
}

.gsk-sal--btn {
  outline: 0;
  text-align: center;
  cursor: pointer;
}

.gsk-sal--btn:active {
  -webkit-transform: translateY(4px);
  -ms-transform: translateY(4px);
  transform: translateY(4px);
}

.gsk-sal--btn.btn--nav {
  background: #0072bc;
  border-radius: 100%;
  border: 0;
  width: 56px;
  height: 56px;
}

.gsk-sal--btn.btn--main {
  text-transform: uppercase;
  font-stretch: condensed;
  font-size: 36px;
  padding: 16px;
  line-height: 16px;
  min-width: 128px;
  width: 230px;
  height: 56px;
  border: 6px solid #3b7373;
  border-radius: 12px;
  /* -webkit-box-shadow: -6px 6px #224346;
  box-shadow: -6px 6px #224346; */
  background: white;
}

.gsk-sal--btn.btn--main:active {
  /* -webkit-box-shadow: -2px 2px #224346;
  box-shadow: -2px 2px #224346; */
}

.gsk-sal--btn.btn--add {
  text-transform: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  padding: 8px;
  width: 240px;
  height: 45px;
  border-radius: 6px;
  background: white;
  -webkit-box-shadow: 0px 0px 0px 6px #ffdf5c;
  box-shadow: 0px 0px 0px 6px #ffdf5c;
  color: #262262;
}

.gsk-sal--border {
  position: relative;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 0px 0px 6px #e78b2c, 0px 0px 0px 20px #df5d2b;
  box-shadow: 0px 0px 0px 6px #e78b2c, 0px 0px 0px 20px #df5d2b;
  width: 240px;
  height: 240px;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.gsk-sal--border.big--border {
  -webkit-box-shadow: 0px 0px 0px 12px #e78b2c, 0px 0px 0px 42px #df5d2b;
  box-shadow: 0px 0px 0px 12px #e78b2c, 0px 0px 0px 42px #df5d2b;
  top: -24px;
  margin: auto;
  width: 850px;
  height: 850px;
  z-index: 1;
}

.gsk-sal--border.hoverable {
  -webkit-box-shadow: 0px 0px 0px 4px #e78b2c, 0px 0px 0px 14px #df5d2b;
  box-shadow: 0px 0px 0px 4px #e78b2c, 0px 0px 0px 14px #df5d2b;
}

.categories {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 900px;
  margin-top: 32px;
}

.characteristics--title {
  font-family: "ReklameScript";
  background: #fff;
  color: #262262;
  font-size: 72px;
  border-radius: 6px;
  width: 200px;
  opacity: 0.8;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 64px;
  text-align: center;
  position: absolute;
  display: inline-block;
}

.characteristics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 950px;
  margin-top: 160px;
}

.characteristic {
  text-align: center;
  margin: auto;
  position: relative;
}

.characteristic > img {
  margin: 0 auto;
  position: relative;
}

.characteristic > .info {
  position: relative;
}

.characteristic > .info > .title {
  font-weight: bold;
  font-size: 32px;
  line-height: 45px;
  width: 200px;
  height: 45px;
  border-radius: 6px;
  background: white;
  -webkit-box-shadow: 0px 0px 0px 6px #f4d113;
  box-shadow: 0px 0px 0px 6px #f4d113;
  color: #262262;
  margin: -10px auto;
  position: relative;
}

.characteristic > .info > .description {
  background: white;
  border-radius: 8px;
  padding: 24px;
  height: 72px;
  font-size: 20px;
}

.characteristic.gsk-sal--border {
  width: 330px;
  height: 330px;
}

.hoverable {
  cursor: pointer;
}

.hoverable.gotoSlide:active {
  -webkit-transform: translateY(4px);
  -ms-transform: translateY(4px);
  transform: translateY(4px);
}

.gsk-sal--border.hoverable:hover {
  -webkit-transform: scale(1.07);
  -ms-transform: scale(1.07);
  transform: scale(1.07);
}

.m-a {
  margin: auto;
}

.box {
  height: 100%;
  width: 100%;
}

.row {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.row.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.inline {
  display: -webkit-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.jc--sa {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.jc--sb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.noon--ngayon {
  font-family: "ReklameScript";
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: #262262;
  margin-bottom: 16px;
}

.noon--ngayon::after {
  content: "...";
  font-family: "Arial Rounded MT Bold";
}
