/* Local CSS */
.mainContent {
  left: 0;
  top: 0;
  width: 1024px;
}

.ngayon-description {
  font-size: 16px !important;
  line-height: 36px;
}

.ngayon-image {
  left: -72px;
  top: 16px;
}

.ngayon-info {
  top: 42px;
}

.noon-description {
  line-height: 20px;
}

.noon-info {
  top: 32px;
}

.noon-image {
  left: -72px;
}
