/* Local CSS */
.mainContent {
  left: 0;
  top: 0;
  width: 1024px;
}

.noon-image {
  top: -24px;
}
.noon-title {
  width: 320px;
}
.noon-info {
  top: 48px;
}

.noon-description {
  line-height: 20px;
}

.ngayon-description {
  line-height: 20px;
}
.ngayon-info {
  top: 56px;
}
