/* Local CSS */

.mainContent {
  top: 20px;
}
.mula-noon-main {
  font-size: 100px;
  line-height: 90px;
  margin-top: 90px;
  margin-bottom: 36px;
}

.colored-medicine-main {
  width: auto;
  height: 140px;
}

.logo-salbutamol-ventolin-main {
  height: 80px;
  margin-top: 24px;
}
.arial-rounded {
  margin-left: -16px;
}

.mechanics-button {
  margin-bottom: 36px;
}
