/* Local CSS */
.mainContent {
  width: 1024px;
  top: 0;
  left: 0;
}
.ventolin {
  font-size: 49px;
  font-family: inherit;
}

.mula-noon-local {
  font-size: 50px;
  margin-bottom: 56px;
  margin-top: 36px;
}

.ml-n8 {
  margin-left: -8px;
}
.colored-medicine-container {
  margin: 0 32px;
}
.colored-medicine-border {
  width: 260px;
  height: 260px;
  z-index: 1;
}

.colored-medicine-image {
  left: -90px;
}

.mt-n32 {
  margin-top: -32px;
}
.z1 {
  z-index: 1;
}
