/* Local CSS */
.logo-salbutamol-ventolin-image {
  height: 80px;
  width: 200px;
  margin-bottom: 24px;
}

.mechanics-title {
  font-size: 80px;
  margin-top: 32px;
}

.mechanics-description {
  font-size: 24px;
  margin-bottom: 20px;
  font-stretch: condensed;
}

.mb-16 {
  margin-bottom: 16px;
}
