/* Local CSS */
.mainContent {
  left: 0;
  top: 0;
  width: 1024px;
}

.noon-image {
  top: -60px;
}

.noon-info {
  top: -8px;
}

.ngayon-image {
  top: -40px;
  left: -56px;
}

.ngayon-info {
  top: -8px;
}
